#footer .copyright li {
    border-left: solid 1px rgba(212, 212, 255, 0.3);
    color: rgba(240, 240, 255, 0.8);
    display: inline-block;
    line-height: 1;
    margin-left: 1em;
    padding-left: 1em;
}

.image.main {
    display: block;
    margin: 2.5em 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.image.small {
    display: block;
    margin: 2.5em 0;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
